*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: flex-start;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}



.container-left {
  width: 30%;
  height: 100vh;
  background-image: url('./images/henry-be-lc7xcWebECc-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}


.logo-banner {
  position: absolute;
  margin-top: 50px;
  height: 15%;
  width: 100%;
  background-color: #f6fff880;
}

.container-right {
  width: 70%;
  height: 100vh;
  background-color: #cce3de;
  display: flex;
  flex-direction: column;
}

.container-right-top,
.container-right-bottom {}

.container-right-middle {
  background-color: #f6fff8;
  height: 35%;
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(107, 144, 128, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(107, 144, 128, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(107, 144, 128, 0.75);
}