*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  --darkestGreen: #476156;
  --darkGreen: #6b9080;
  --activeInput: #eaf4f4;
  --invalidRed: #D55C5F;
  --validGreen: rgb(0, 164, 0);
  --bgGreen: #cce3de;
  --lightGreen: #f6fff8;
}

@font-face {
  font-family: 'adelia';
  src: url('fonts/adelia.woff2') format('woff2'),
    url('fonts/adelia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-size: 1rem;
  justify-content: flex-start;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}


.container-left {
  width: 30%;
  height: 100vh;
  background-image: url('./images/henry-be-lc7xcWebECc-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}


.logo-banner {
  position: absolute;
  margin-top: 25vh;
  height: 120px;
  width: 100%;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-banner p {
  font-family: 'adelia';
  font-weight: bold;
  font-style: normal;
  color: #eaf4f4;
  font-size: 2rem;
}

.container-right {
  width: 70%;
  height: 100vh;
  background-color: var(--bgGreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-right-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 40px 60px 20px 60px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
  /* overflow-y: auto; */
  /* Allow scrolling if content is too tall */
}

.container-right-top h1 {
  color: var(--darkestGreen);
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.container-right-top p {
  margin-bottom: 10px;
}

.container-right-top ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 10px 0;
}

.container-right-top li {
  padding: 6px 0;
  margin-left: 25px;
  position: relative;
}

.container-right-middle {
  background-color: var(--lightGreen);
  width: 100%;
  box-shadow: 0px 0px 12px 0px rgba(107, 144, 128, 0.75);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 300px;
  max-height: 40vh; */
}

.container-right-middle h2 {
  margin-bottom: 5px;
  align-self: flex-start;
  margin-left: 10%;
  color: var(--darkestGreen);
}

.container-right-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  padding: 20px;
  /* overflow-y: auto; */
}

.sign-up-form {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.sign-up-form div {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
  position: relative;
}

.sign-up-form label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--darkestGreen);
  position: relative;
}

.sign-up-form input {
  padding: 8px;
  border: solid --darkestGreen 2px;
  border-radius: 4px;
  width: 100%;
}

.sign-up-form input[type="tel"] {
  font-family: monospace;
}

.sign-up-form input:focus {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--activeInputGreen);
  width: 100%;
  box-shadow: none;
  outline: none;
}

.sign-up-form input:invalid {
  padding: 8px;
  border: solid var(--invalidRed) 2px;
  border-radius: 4px;
  width: 100%;
  box-shadow: none;
}

#submit-button {
  background-color: var(--darkGreen);
  border: none;
  padding: 1em;
  color: var(--lightGreen);
  border-radius: 5px;
  margin: 15px 0 15px 0;
  width: 235px;
}

#submit-button:hover {
  filter: brightness(1.2);
}

input {
  border: solid var(--darkestGreen) 2px;
}

a {
  color: #476156;
}

a:hover {
  filter: brightness(1.2);
}

#password-message {
  display: none;
  background: var(--lightGreen);
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#password-message h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.pwd-valid {
  color: var(--validGreen, green);
}

.pwd-valid:before {
  position: relative;
  left: -35px;
  content: '\2714';
}

.pwd-invalid {
  color: var(--invalidRed, red);
}

.pwd-invalid:before {
  position: relative;
  left: -35px;
  content: '\2716';

}

.sign-up-form label[for="fname"]::after,
.sign-up-form label[for="email"]::after,
.sign-up-form label[for="password"]::after,
.sign-up-form label[for="password-confirm"]::after {
  content: " (required)";
  color: var(--invalidRed);
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 4px;
}

.sign-up-form label[for="lname"]::after,
.sign-up-form label[for="tel"]::after {
  content: " (optional)";
  color: var(--darkestGreen);
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 4px;
}

/* Color Palette */
/* https: //coolors.co/palette/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8 */